* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    max-width: 85%;
    margin: auto;
    background-image: url("../img/fondo-imagen.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    background-color: rgba(197, 201, 204, 0.9);
    padding: 20px;
}

    /* Animaciones */
    
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-down {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0);
    }
}

/* Header */

h1 {
    color: rgb(15, 122, 122);
    text-align: center;
    animation: fade 1.2s ease-in, slide-down 1.5s ease-in-out;
}

/* main */

h2 {
    color: rgb(38, 99, 231);
}

article {
    margin-top: 40px;
    margin-bottom: 40px;
}

div {
    margin-top: 35px;
    text-align: center;
}

img {
    max-width: 80%;
}

p {
    text-align: justify;
}