body {
    font-family: sans-serif;
    max-width: 75%;
    margin: auto;
    background-color: rgb(197, 201, 204);
}

/* ############ HEADER */

h1 {
    text-align: center;
    color: rgb(15, 122, 122);
}

.volver-inicio {
    display: flex;
}

.volver {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: rgb(236, 130, 8);
    font-weight: 600;
}

a:visited {
    color: rgb(236, 130, 8);
}

/* ############ MAIN CONTENT */

h2 {
    color: rgb(38, 99, 231);
}

h3 {
    color: rgb(103, 45, 240);
}

nav {
    display: flex;
    justify-content: space-between;
}

  

p {
    text-align: justify;
}

input {
    margin-top: 5px;
}