body {
    font-family: sans-serif;
    max-width: 75%;
    margin: auto;
    background-color: rgb(197, 201, 204);
}

/* ############ HEADER */

h1 {
    color: rgb(15, 122, 122);
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2em;
    color: rgb(236, 103, 14);
}

a:hover {
    color: black;
}

a:visited {
    color: rgb(236, 103, 14);
}

nav a:first-child[href$='index.html'] {
    margin-left: 10px;
}

/* ############ MAIN CONTENT */

legend {
    color: rgb(85, 129, 211);
    font-weight: 600;
}

