* {
    margin: 0;
}

body {
    max-width: 85%;
    margin: auto;
    font-family: sans-serif;
    background-image: url('../img/fondo-imagen.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    background-color: rgb(197, 201, 204, 0.9);
    padding: 25px;
}

h2 {
    margin: 20px 0;
    color: rgb(38, 99, 231);
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.42);
}

a {
    display: flex;
    align-items: center;
    padding: 3px;
    text-decoration: none;
    color: rgb(236, 103, 14);
    font-weight: 600;
    position: relative;
    transition: color 0.3s ease-in;
}

a:hover {
    color: #ffffff;
}

p {
    text-align: justify;
}

/* Menu oculto */

label, #menu-toggle {
    display: none;
}

/* -- Animaciones -- */

/* Subrayado Dinámico */

a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0px;
    height: 2px;
    color: #ffffff;
    background-color: #ffffff;
    width: 100%;
    transform: scaleX(0);
    transition: transform 0.3s ease-in;
}

a:hover::after {
    transform: scaleX(1);
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-down {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0);
    }
}

/* ######### HEADER */

header {
    margin: 20px 0;
    text-align: center;
}

h1 {
    color: rgb(15, 110, 110);
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.42);
    animation: fade 1.2s ease-in, slide-down 1.5s ease-in-out;
}

/* ######### MAIN CONTENT */

.cont-lista {
    display: flex;
    margin: 30px 0;
    justify-content: center;
}

ul {
    list-style: none;
}

svg {
    width: 60px;
}

ol li {
    padding: 10px 0;
}

/* ######### MEDIA QUERIES */

/* -- 768px -- */

@media (max-width: 778px) {

    .cont-lista {
        background: black;
        position: absolute;
        top: 130px;
        left: 140px;
        width: 70%;
        border-radius: 15px;
        display: none;
    }

    a:hover {
        color: #fff;
    }

    label {
        display: flex;
    }

    .menu {
        width: 50px;
        cursor: pointer;
    }

    #menu-toggle:checked + .cont-lista {
        display: flex;
    }
}

@media (max-width: 576px) {

    svg {
        display: none;
    }

    .cont-lista {
        background: black;
        position: absolute;
        top: 190px;
        left: 120px;
        width: 60%;
        border-radius: 15px;
        flex-direction: column;
    }

    li {
        padding: 10px 0;
    }

    .tilde {
        display: none;
    }
}

@media (max-width: 496px) {

    svg {
        display: none;
    }

    li {
        padding: 5px 0;
    }

    .cont-lista {
        background: black;
        position: absolute;
        top: 190px;
        left: 130px;
        width: 60%;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
    }

    .tilde {
        display: none;
    }
}

