body {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aliceblue;
}

main {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: rgb(55, 185, 55);
}

/* 
    Selector para todos los <article> que tengan una clase que comience con "caja", definimos el ancho,
    el alto, un borde y el modo como serán mostrados los elementos de tal forma que aparezcan uno al lado
    del otro
*/

article[class^='caja'] {
    border: 4px solid black;
    display: inline-block;
    height: 220px;
    width: 400px;
    text-align: justify;
    padding: 10px;
}

/*
    Cuando "margin" recibe cuatro valores cada valor corresponderá a cada lado de la caja, 
    comenzando en la parte superior y siguiendo el sentido del reloj.

    50px de espacio a nivel superior
    20px de espacio a nivel derecho
    50px de espacio a nivel inferior
    20px de espacio a nivel izquierdo

    Tengamos en cuenta que estas propiedades abarcan el espacio que hay externo al borde de la caja contenedora.
*/

.caja1 {
    margin: 50px 20px 50px 20px;
}

