body {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    background-color: aliceblue;
}

main {
    max-width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: rgb(55, 185, 55);
}

h2 {
    color: rgb(59, 124, 184);
}

h3 {
    color: rgb(224, 54, 11);
}

a {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: rgb(224, 162, 90);
}

a:hover {
    font-size: 1.3em;
    text-decoration: underline;
}

p {
    text-align: justify;
}

/* ESTILOS EJEMPLOS */

.estatico {
    height: 150px;
    border: 1px solid black;
    background-color: greenyellow;
}

.relativo {
    position: relative;
    bottom: 100px;
    z-index: 2;
    border: 2px solid blue;
    background-color: aliceblue;
}