* {
  margin: 0;
}

body {
  font-family: sans-serif;
  background-image: url('https://images.unsplash.com/photo-1628181080699-0f81c68d9934?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 75%;
  margin: auto;
}

main {
  background-color: rgb(197, 201, 204, 0.8);
  padding: 25px;
}

h2 {
  margin: 20px 0;
  color: rgb(38, 99, 231);
  text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.42);
}

a {
  text-decoration: none;
  align-items: center;
  padding: 10px;
  color: rgb(236, 103, 14);
  font-size: 1.3em;
  font-weight: 600;
  position: relative;
  transition: color 0.3s ease-in;
}

a:visited {
  color: rgb(236, 103, 14);
}

a:hover {
  color: #ffffff;
}

p {
  text-align: justify;
}

b {
  color: rgb(115, 37, 170);
}

/* -- Animaciones -- */

/* Subrayado Dinámico */

a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  color: #ffffff;
  background-color: #ffffff;
  width: 100%;
  transform: scaleX(0);
  transition: transform 0.3s ease-in;
}

a:hover::after {
  transform: scaleX(1);
}

@keyframes fade {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes slide-down {
  from {
      transform: translateY(-50px);
  }
  to {
      transform: translateY(0);
  }
}

/* ############ HEADER */

h1 {
  color: rgb(15, 110, 110);
  text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.42);
  text-align: center;
  animation: fade 1.2s ease-in, slide-down 1.5s ease-in-out;
}

nav {
  margin: 25px 0;
  display: flex;
  align-items: center;
}

.ul-header {
  padding: 0;
  margin-left: 10px;
}

.li-header {
  list-style: none;
}

.volver {
  margin-left: 15%;
}

/* ############ MAIN CONTENT */

/* -- Articulo Introducción -- */

/* Bloque Código */

.cont-codigo {
  background-color: rgb(56, 55, 55);
  margin: 20px auto;
  padding: 7px;
  width: 70%;
  border-radius: 5px;
}

.margin-20 {
  margin-left: 20px;
}

.txt-white {
  color: #ffffff;
}

.tag-color {
  color: rgb(37, 143, 241);
}

.property-color {
  color: rgb(113, 209, 247);
}

.value-color {
  color: #f39658;
}

.comment-color {
  color: rgb(41, 148, 31);
}

/* -- */

/* -- Artículo Ejemplo -- */

.cont-ejemplo {
  margin: 20px 0;
}

form {
  margin: 20px 0;
}

/* -- Articulo Propiedades Formulario -- */

li > span {
  color: #f17623;
  font-weight: 600;
}

li {
  margin: 10px 0;
  text-align: justify;
}