body {
    margin: auto;
    max-width: 85%;
    font-family: sans-serif;
    background-color: aliceblue;
}

header {
    text-align: center;
    color: rgb(15, 122, 122);
}

.img {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

img {
    max-width: 50%;
}

h2 {
  color: rgb(38, 99, 231);  
}

b {
    color: rgb(115, 37, 170);
}