body{
    box-sizing: border-box;
    width: 85%;
    margin: 10px auto;
    font-family: sans-serif;
    background: #ff416c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff416c, #ff4b2b); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff416c, #ff4b2b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
    text-align: center;
    color: aliceblue;
}

p {
    color: aliceblue;
}

b {
    color: black;
}

figure {
    text-align: center;
}

/* NAV */

nav {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
}

a {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}

.flecha {
    margin-top: 5px;
}

/* Estilos en contenido */

img {
    width: 100%;
}