/* Estilos Generales y Principales */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(197, 201, 204);
    max-width: 85%;
    margin: auto;
}

ul {
    list-style: none;
}

hr {
    margin-top: 40px;
}

/* Header */

h1 {
    color: rgb(15, 122, 122);
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
}

a {
    font-size: 1.5em;
    text-decoration: none;
    color: purple;
}

.flecha {
    margin-top: 5px;
}

/* Section */

h2 {
    color: rgb(57, 135, 199);
}

.cont-h3 {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

h3 {
    color: orange;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid orange;
}


.cont-img-ejemplo {
    display: flex;
    justify-content: center;
}

.cont-imgBits {
    margin-top: 30px;
}

.img-bits {
    max-width: 80%;
}

.img-formatos {
    max-width: 85%;
}