body {
    background-color: aliceblue;
    font-family: Verdana;
    margin: 20px auto;
    max-width: 85%;
}

h1 {
    text-align: center;
    color: rgb(55, 185, 55);
}

a {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: rgb(224, 162, 90);
}

a:hover {
    font-size: 1.3em;
    text-decoration: underline;
}

figcaption {
    margin-bottom: 20px;
}

p {
    text-align: justify;
}