<section class="main-content">
    <article class="card" data-url="./pages/html/htmlPage.html">
        <div class="card-cont-logo">
            <img class="icon" src="./img/html-icon.svg" />
        </div>

        <div>
            <h2>HTML</h2>
        </div>
        
        <div>
            <p>Maquetación Web</p>
        </div>

    </article>

    <article class="card" data-url="cssPage.html">
        <div class="card-cont-logo">
            <img class="icon" src="./img/css-icon.svg" />
        </div>

        <div>
            <h2>CSS</h2>
        </div>

        <div>
            <p>Estilos Web</p>
        </div>
    </article>

    <article class="card" data-url="jsPage.html">
        <div class="card-cont-logo">
            <img class="icon" src="./img/js-icon.svg" />
        </div>

        <div>
            <h2>JS</h2>
        </div>

        <div>
            <p>
                Dinámica
            </p>
        </div>
    </article>

    <article class="card" data-url="./pages/phpPage/phpPage.php">
        <div class="card-cont-logo">
            <img class="icon" src="./img/php-icon.svg" />
        </div>

        <div>
            <h2>PHP</h2>
        </div>

        <div>
            <p>
                Lenguaje Backend para Web
            </p>
        </div>

    </article>
</section>