<section class="main-content">
    <article class="card" data-url="htmlPage.html">
        <div class="cont-logo">
            <img class="icon" src="./img/html-icon.svg" />
        </div>

        <h2>HTML</h2>
    </article>

    <article class="card" data-url="cssPage.html">
        <div class="cont-logo">
            <img class="icon" src="./img/css-icon.svg" />
        </div>

        <h2>CSS</h2>
    </article>

    <article class="card" data-url="jsPage.html">
        <div class="cont-logo">
            <img class="icon" src="./img/js-icon.svg" />
        </div>

        <h2>JS</h2>
    </article>

    <article class="card" data-url="./pages/phpPage/phpPage.php">
        <div class="cont-logo">
            <img class="icon" src="./img/php-icon.svg" />
        </div>

        <h2>PHP</h2>
    </article>
</section>