<header>
    <nav>
        <ul>
            <li><a href="/jotaLearn/index.php">Ir a Inicio</a></li>
            <li>
                <button class="menu-toggle">Explorar más</button>
            </li>
        </ul>
    </nav>
    <div class="scroll-container" id="scrollContainer">
        <ul class="dropRight-menu">
            <li data-id="construccionHtml">Construcción archivo HTML</li>
            <li data-id="otraOpcion">Otra Opción</li>
            <li data-id="masOpciones">Más Opciones</li>
            <!-- Agrega más opciones según sea necesario -->
        </ul>
    </div>
</header>
