@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/fondo-js.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    max-width: 85%;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

main {
    background-color: rgba(197, 201, 204, 0.836);
    padding: 25px;
}

h2 {
    margin: 25px 0;
    color: rgb(38, 99, 231);
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.42);
    animation: slide-right 1.3s ease, fade 1.3s ease-in;
}

h3 {
    color: rgb(103, 45, 240);
    margin: 20px 0;
}

h4 {
    color: rgb(143, 44, 224);
    margin: 20px 0;
}

figure {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.lista li {
    padding: 10px;
}

p {
    text-align: justify;
    line-height: 1.3em;
}

code {
    color: #ffffff;
}

hr {
    margin-top: 20px;
}

/* -- Animaciones-- */
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-down {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slide-right {
    from {
        transform: translateX(-50px);
    }
    to {
        transform: translateX(0);
    }
}

/* ======= HEADER ======= */

h1 {
    text-align: center;
    color: rgb(15, 110, 110);
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.42);
    animation: fade 1.3s ease-in, slide-down 1.3s ease-in-out;
}

/* ======= MAIN CONTENT =======  */

.cont-ejemplo {
    margin: 30px 0;
    padding: 10px;
    background-color: #f3c68b8e;
}

/* -- Bloque Código -- */

.cont-codigo {
    background-color: rgb(56, 55, 55);
    margin: 20px auto;
    padding: 7px;
    max-width: 70%;
    border-radius: 10px;
}

.margin-20 {
    margin-left: 20px;
}

.margin-40 {
    margin-left: 40px;
}

.margin-60 {
    margin-left: 60px;
}

.txt-white {
    color: #ffffff;
}

.tag-color {
    color: rgb(37, 143, 241);
}

.variable-color {
    color: rgb(66, 158, 245);
}

.property-color {
    color: rgb(113, 209, 247);
}

.value-color {
    color: #f39658;
}

.number-color {
    color: rgb(146, 192, 137);
}

.function-color {
    color: rgb(245, 213, 107);
}

.parametro-color {
    color: rgb(233, 90, 247);
}

.comment-color {
    color: rgb(41, 148, 31);
}
/* -- */



/* ESTILOS ESPECÍFICOS */
figure {
    display: flex;
    justify-content: center;
}

li {
    padding: 5px 0;
}

    /* ESTILOS TABLA */
table {
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;
}

tr, td{
    border: 1px solid black;
}

td {
    padding-left: 5px;
}

    /* CONTENEDORES */

.centrado {
    text-align: center;
}

.cont-code {
    display: flex;
    justify-content: center;
}



