body {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    background-color: aliceblue;
    max-width: 85%;
    margin: auto;
}

h1 {
    text-align: center;
    color: rgb(55, 185, 55);
}

a {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: rgb(224, 162, 90);
}

a:hover {
    font-size: 1.3em;
    text-decoration: underline;
}

div {
    margin-bottom: 30px;
}

video {
    width: 100%;
}