body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(197, 201, 204);
    max-width: 85%;
    margin: auto;
}

/* Header */

h1 {
    color: rgb(15, 122, 122);
    text-align: center;
}

/* Contenido Principal */

h2 {
    color: rgb(57, 135, 199);
}

p {
    text-align: justify;
}

code {
    font-size: large;
    color: blueviolet;
    font-weight: 600;
}