@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/fondo-js.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    max-width: 85%;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

main {
    background-color: rgba(197, 201, 204, 0.836);
    padding: 25px;
}

h2 {
    margin: 25px 0;
    color: rgb(38, 99, 231);
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.42);
    animation: slide-right 1.3s ease, fade 1.3s ease-in;
}

h3 {
    color: rgb(103, 45, 240);
    margin: 20px 0;
}

h4 {
    color: rgb(143, 44, 224);
    margin: 20px 0;
}

figure {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.lista li {
    padding: 10px;
}

p {
    text-align: justify;
    line-height: 1.3em;
}

code {
    color: #ffffff;
}

hr {
    margin-top: 20px;
}

/* -- Animaciones-- */
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-down {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slide-right {
    from {
        transform: translateX(-50px);
    }
    to {
        transform: translateX(0);
    }
}

/* ======= HEADER ======= */

h1 {
    text-align: center;
    color: rgb(15, 110, 110);
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.42);
    animation: fade 1.3s ease-in, slide-down 1.3s ease-in-out;
}

a {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: rgb(224, 162, 90);
}

a:hover {
    text-decoration: underline;
}

li {
    padding: 5px 0;
}

figure {
    text-align: center;
}

/* ESTILOS ESPECÍFICOS */

    /*############# CONTENEDOR REGRESAR */

.cont-regresar {
    display: flex;
    align-items: center;
    width: 100%;
    
}

.flecha {
    margin-top: 3px;
}

    /*#############  ESTILO BOTON */

.cont-link {
    width: 15%;
}

button {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);;
    color: #fff;
    border-radius: 10px;
    width: 100%;
    height: 6vh; 
}

.cont-pagina-ejemplo {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);;
    border-radius: 10px;
    width: 50%;
    margin: auto;
}
