body {
    font-family: sans-serif;
    background-color: aliceblue;
}

main {
    margin: auto;
    max-width: 75%;
}

header {
    text-align: center;
}

li {
    padding: 0.5%;
}


/* ========== Estilos de texto */

#title {
    color: rgb(55, 185, 55);
}

.sub {
    color: rgb(59, 124, 184);
}

h3 {
    color: rgb(224, 54, 11);
}

b {
    color: rgb(115, 37, 170);
}

p {
    text-align: justify;
}

a {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: rgb(224, 162, 90);
}

a:hover {
    font-size: 1.3em;
    text-decoration: underline;
}