body {
    font-family: sans-serif;
    background-color: rgb(197, 201, 204);
    max-width: 85%;
    margin: auto;
    box-sizing: border-box;
}

/* ========== Estilos Header */

header {
    text-align: center;
}

#title {
    color: rgb(15, 122, 122);
}

div a:first-child {
    font-weight: 600;
}

/* ========== Imagen Responsiva */

figure {
    text-align: center;
}

img {
    max-width: 70%;
}


/* ========== Estilos de texto */

.sub {
    color: rgb(59, 124, 184);
}

h3 {
    color: rgb(199, 47, 9);
}

b {
    color: rgb(115, 37, 170);
}

p {
    text-align: justify;
}

a {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: rgb(207, 120, 21);
}

a:hover {
    font-size: 1.3em;
    text-decoration: underline;
}