* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/fondo-js.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    max-width: 85%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
}

main {
    background-color: rgba(197, 201, 204, 0.836);
    padding: 25px;
}

h2 {
    margin: 25px 0;
    color: rgb(38, 99, 231);
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.42);
}

h3 {
    color: rgb(103, 45, 240);
    margin: 20px 0;
}

h4 {
    color: rgb(224, 54, 11);
    margin: 20px 0;
}

p {
    text-align: justify;
    line-height: 1.3em;
}

code {
    color: #ffffff;
}

hr {
    margin-top: 20px;
}

/* -- Bloque Código -- */

.cont-codigo {
    background-color: rgb(56, 55, 55);
    margin: 20px auto;
    padding: 7px;
    max-width: 80%;
    border-radius: 5px;
}

.margin-20 {
    margin-left: 20px;
}

.margin-40 {
    margin-left: 40px;
}

.margin-60 {
    margin-left: 60px;
}

.txt-white {
    color: #ffffff;
}

.tag-color {
    color: rgb(37, 143, 241);
}

.variable-color {
    color: rgb(66, 158, 245);
}

.property-color {
    color: rgb(113, 209, 247);
}

.value-color {
    color: #f39658;
}

.function-color {
    color: rgb(245, 213, 107);
}

.parametro-color {
    color: rgb(233, 90, 247);
}

.comment-color {
    color: rgb(41, 148, 31);
}

/* -- */

/* -- Bloque Consola -- */

.fondo-consola {
    margin: 20px auto;
    padding: 7px;
    width: 50%;
    background-color: rgb(255, 255, 255);
}

.fondo-consola code {
    display: flex;
    justify-content: space-between;
}

.fondo-consola code span {
    width: 100%;
}

.color-black {
    color: rgb(3, 3, 3);
}

/* -- Animaciones-- */
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-down {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0);
    }
}

.volver::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    width: 100%;
    transform: scaleX(0);
    transition: transform 0.3s ease-in;
}

.volver:hover::after {
    transform: scaleX(1);
}

/* ######### HEADER */

h1 {
    text-align: center;
    color: rgb(15, 110, 110);
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.42);
    animation: fade 1.3s ease-in, slide-down 1.3s ease-in-out;
}

nav {
    margin: 30px 0;
}

.volver {
    text-decoration: none;
    color: rgb(236, 103, 14);
    position: relative;
    padding-bottom: 10px;
    font-size: 1.2em;
    font-weight: 600;
}

.volver:hover {
    color: rgb(255, 255, 255);
}

/* ######### MAIN CONTENT */

.main-content {
    margin: 30px 0;
}

.sub-ejemplo {
    text-align: center;
}

.link-ejemplo {
    padding: 10px;
    font-size: 1.1em;
    font-weight: 600;
    text-decoration: none;
    color: rgb(236, 103, 14);
    border: 1px solid rgb(236, 103, 14);
    border-radius: 10px;
    transition: background 0.5s ease-in;
}

.link-ejemplo:hover {
    background-color: #ffffff5e;
}

.cont-lista {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

/* ESTILOS ESPECÍFICOS */

figure {
    display: flex;
    justify-content: center;
}

/* ######### PÁGINA JS-INTERNO */
.cont-practica {
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 30px 0;
    padding: 25px;
    border: 1px solid black;
    border-radius: 10px;
}

.cont-input {
    width: 50%;
}

.cont-resultado {
    width: 50%;
}