body {
    font-family: sans-serif;
    background-color: rgb(232, 236, 240);
}

main {
    width: 75%;
    margin: auto;
}

h1 {
    text-align: center;
    color: rgb(15, 122, 122);
}

h2 {
    color: rgb(49, 109, 240);
}
