/*
    En este ejemplo visualizamos la aplicación de margin en los contenedores div.
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aliceblue;
    border: 1px solid black;
}

h1 {
    text-align: center;
    color: rgb(55, 185, 55);
}

section {
    display: flex;
}

nav {
    margin-left: 20px;
}

#caja1 {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    border: 1px solid black;
}

#caja2 {
    width: 200px;
    height: 200px;
    background-color: burlywood;
    border: 1px solid black;
}

#caja3 {
    width: 200px;
    height: 200px;
    background-color: cadetblue;
    border: 1px solid black;
}

.cajas {
    margin-top: 20px; /* espacio entre los contenedores y el border de body de 20px */
    margin-left: 20px; /* espacio entre los contenedores de 20px en el lado izquierdo */
}