* {
    text-decoration: none;
    font-family: sans-serif;
}

body {
    max-width: 80%;
    margin: auto;
    background-color: rgb(197, 201, 204);
}

/* ############ HEADER */

header {
    margin-top: 20px;
}

h1 {
    text-align: center;
    color: rgb(15, 122, 122);
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
}

/* ############ MAIN CONTENT */

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.lista-enlaces {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.5em;
}

li {
    position: relative;
    margin: 10px;
    padding: 10px 0;
    text-align: center;
}

li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  li:hover::after {
    transform: scaleX(1);
  }
  
  li a {
    color: white;
    transition: color 0.3s ease-in-out;
  }
  
  li:hover a {
    color: black;
  }

.lista-enlaces > li > a {
    color: rgb(38, 99, 231);
    font-weight: 600;
}

.lista-enlaces li a:hover {
    color: #fff;
}

a:hover {
    color: #fff;
}

a:visited {
    color: rgb(38, 99, 231);
}

#contacto {
    margin: auto;
}