body {
    width: 85%;
    margin: 15px auto;
    font-family: sans-serif;
    background-color: aliceblue;
}

header {
    text-align: center;
}

h1 {
    color: rgb(45, 161, 45);
}

h2 {
    color: rgb(57, 135, 199);
}

h3 {
    color: rgb(224, 54, 11);
}

main {
    margin-left: 0 auto;
}

p {
    width: 95%;
    margin: 10px auto;
    font-size: large;
}

/* Estilos para tablas */

table {
    margin: 20px auto;
    width: 50%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

tr > td {
    text-align: center;
}

/* 
    con nth-child seleccionamos los renglones "pares" o "impares".
    
    even = par / odd = impar
*/

tr:nth-child(even) {
    background-color: #f1faee ;
}

tr:nth-child(odd) {
    background-color: #a8dadc;
}

th {
    color: #fff;
    background-color: #1d3557;
}

caption {
    color: #e63946;
    font-size: large;
    line-height: 50px;
}