body {
    max-width: 85%;
    margin: auto;
    font-family: sans-serif;
    background-color: rgb(197, 201, 204);
}

header {
    text-align: center;
}

h1 {
    color: rgb(15, 122, 122);
}

h2 {
    color: rgb(38, 99, 231);
}

.cont-h3 {
    display: flex;
    justify-content: center;
}

h3 {
    border: 2px solid rgb(113, 64, 248);
    padding: 10px;
    margin-bottom: 0;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    color: rgb(113, 64, 248);
}

li:nth-child(even) {
    margin: 10px 0;
}

p {
    text-align: justify;
}

/* Estilos para tablas */

.cont-table {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed black;
}

table {
    margin: 20px auto;
    width: 50%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

tr > td {
    text-align: center;
}

/* 
    con nth-child seleccionamos los renglones "pares" o "impares".
    
    even = par / odd = impar
*/

tr:nth-child(even) {
    background-color: #f1faee ;
}

tr:nth-child(odd) {
    background-color: #a8dadc;
}

th {
    color: #fff;
    background-color: #1d3557;
}

caption {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 1.2em;
}