* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: aliceblue;
    max-width: 85%;
    margin: auto;
}

h1 {
    text-align: center;
    color: rgb(15, 122, 122);
}


h2 {
    margin-bottom: 25px;
    color: rgb(57, 135, 199);
}

h3 {
    margin-bottom: 25px;
    color: rgb(224, 157, 32);
}

h4 {
    color: blueviolet;
}

.code {
    text-align: center;
    margin: 20px 0;
    font-size: 1.3em;
}

/* Estilos en Header y sus elementos */

header {
    margin: 25px 0;
}

element.style {
    display: flex;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    background-color: rgb(40, 207, 207);
    border-radius: 10px;
}

.navegacion {
    display: flex;
    width: 100%;
    padding: 15px;
    list-style: none;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #fff;
}

.navegacion a:visited {
    color: black;
}


/* Estilos en el Contenido */

    /* Sección introduccion */
.cont-introduccion {
    margin-bottom: 25px;
}

.cont-meta {
    margin: 20px 0;
}

/* Sección propiedades */

    /* =========== Charset */

.cont-charset {
    margin: 25px 0;
}

.cont-charset p {
    margin: 15px;
}

    /* =========== Name */

.link {
    margin: 25px 0;
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    font-size: large;
}

a:visited {
    color: red;
}

    /* =========== Content */

.cont-content p {
    margin: 15px 0;
}

.content-viewport li {
    font-weight: 600;
    color: slateblue;
}

.cont-img > img {
    max-width: 50%;
}

label + input {
    display: none;
}

/* QUERIES */

@media (max-width: 768px) {

    nav {
        justify-content: start;
        width: 100%;
    }

    .navegacion {
        justify-content: flex-start;
        width: 100%;
        gap: 20px;
        display: none;
        flex-wrap: wrap;
        order: 2;
    }

    /* Muestro Menu */
    label {
        display: flex;
        padding: 10px;
        order: 1;
    }

    .menu-img {
        width: 25px;
        cursor: pointer;
    }

    #menu-toggle:checked + .navegacion {
        display: flex;
    }
}

@media (max-width: 413px) {
    .navegacion {
        flex-direction: column;
    }
}
