body {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    background-color: aliceblue;
}

main {
    max-width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: rgb(55, 185, 55);
}

h2 {
    color: rgb(59, 124, 184);
}

h3 {
    color: rgb(224, 54, 11);
}

a {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: rgb(224, 162, 90);
}

a:hover {
    font-size: 1.3em;
    text-decoration: underline;
}

p {
    text-align: justify;
}

/* ESTILOS ESPECÍFICOS */

.contenedor-relativo {
    display: flex;
    justify-content: center;
    position: relative;
    border: 1px solid greenyellow;
    border-style: dashed;
}

.texto {
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 1.9rem; 
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
}