body {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    background-color: aliceblue;
}

main {
    max-width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: rgb(55, 185, 55);
}

h2 {
    color: rgb(59, 124, 184);
}

h3 {
    color: rgb(224, 54, 11);
}

h4 {
    color: rgb(134, 93, 231);
}

li {
    padding: 5px 0;
}

p {
    text-align: justify;
}

/* ESTILOS ESPECÃFICOS */

.fondo-codigo {
    background-color: bisque;
}

article div.fondo-codigo {
    margin-top: 15px;
} 

.bloque-codigo > code {
    display: block;
    padding: 5px 0;
}


.indentacion {
    margin-left: 20px;
}

.indentacion-40{
    margin-left: 40px;
}