/* GLOBAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Afacad Flux", sans-serif;
    background-image: url('https://unsplash.com/es/fotos/un-monitor-de-computadora-sentado-encima-de-un-escritorio-de-madera-N6iw_SIVGVk');
}

main {
    margin: auto;
    max-width: 80%;
}

/* HEADER STYLES */

/* Header Container */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 35vh;
    border: 1px solid red;
}

/* Nav Element General Styles */
nav {
    display: flex;
    width: 85%;
    padding: 20px;
}

/* Ul children Nav Element */
nav > ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 45px;
    margin-right: 30px;
    width: 100%;
    list-style: none;
}

/* List from nav */
li > a {
    text-decoration: none;
    font-size: 1.3em;
    color: black;
}

/* Menu Img Container */
.cont-menuIcon {
    display: none;
    align-items: center;
    /* display: flex; put in small viewports */
}

.menu-btn {
    width: 50px;
}

.open-menu {
    display: flex;
}

/* ######## MAIN CONTENT STYLES */
.main-content {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 40px 0;
    border: 1px solid blue;
}

/* Article Card Container */
.card {
    display: flex;
    flex-direction: column;
    width: calc((100% / 3) - 14px);
    padding: 20px;
    gap: 20px;
    cursor: pointer;
    border: 1px solid black;
}

/* Styles for the children of .card */
.card > * {
    display: flex;
    justify-content: center;
}

.icon {
    width: 50px;
}
