body {
    text-align: center;
    font-size: 1.5em;
    font-family: helvetica;
}

h1 {
    text-align: center;
    color: rgb(55, 185, 55);
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    color: rgb(224, 162, 90);
}

a:hover {
    font-size: 1.3em;
    text-decoration: underline;
}

.contenedor1 {
    margin: 0 auto;
    width: 85%;
    display: flex;
    flex-flow: row wrap;
}

.contenedor2 {
    margin: 0;
    width: 30%;
    display: flex;
    flex-flow: row wrap;
}

.contenedor div {
    box-sizing: border-box;
    min-width: 50%;
}

.bloque1 {
    color: #ddd;
    background-color: #FF0000;
    min-height: 200px;
    width: 100%
}

.bloque2 {
    color: #333;
    background-color: #00FF99;
    min-height: 600px;
    width: 20%;
}

.bloque3 {
    color: #333;
    background-color: #00FFFF;
    min-height: 600px;
    width: 50%;
}

.bloque4 {
    color: #333;
    background-color: #FFFF00;
    min-height: 50px;
    width: 100%;
}

.bloque5 {
    color: #ddd;
    background-color: #000000;
    min-height: 50px;
    width: 100%;
}

/* 1° Breakpoint: Se detallan todos los cambios de los elementos. */
@media all and (max-width: 900px) and (min-width: 700px) {
    .contenedor1 {
        width: 90%;
    }

    .bloque1 {
        width: 100%;
    }

    .bloque2 {
        width: 20%;
        min-height: 400px;
    }

    .bloque3 {
        width: 80%;
        min-height: 400px;
    }

    .contenedor2 {
        width: 100%;
    }

    .bloque4 {
        width: 50%;
        min-height: 300px;
    }

    .bloque5 {
        width: 50%;
        min-height: 300px;
    }
}

/* 2° Breakpoint. La propiedad "order" ayuda a organizar los bloques en la pantalla */
@media all and (max-width: 700px) and (min-width: 400px) {
    .contenedor1 {
        width: 100%;
    }

    .bloque1 {
        width: 20%;
        order: 3;
    }

    .bloque2 {
        width: 100%;
        order: 1;
    }

    .bloque3 {
        width: 100%;
        min-height: 400px;
        order: 2;
    }

    .contenedor2 {
        width: 80%;
        order: 4;
    }

    .bloque4 {
        width: 100%;
        min-height: 150px;
    }

    .bloque5 {
        width: 100%;
        min-height: 150px;
    }
}

/* 3° Breakpoint */
@media all and (max-width: 400px) {
    .contenedor1 {
        width: 100%;
    }

    .bloque1 {
        width: 100%;
        order: 4;
    }

    .bloque2 {
        width: 100%;
        min-height: 100px;
        order: 2;
    }

    .bloque3 {
        width: 100%;
        min-height: 400px;
        order: 2;
    }

    .contenedor2 {
        width: 100%;
        order: 3;
    }

    .bloque4 {
        width: 100%;
        min-height: 150px;
    }

    .bloque5 {
        width: 100%;
        min-height: 150px;
    }
}