body {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aliceblue;
}

main {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: rgb(55, 185, 55);
}

h2 {
    color: rgb(59, 124, 184);
}

h3 {
    color: rgb(204, 135, 7);
}

li {
    padding: 10px;
}

p {
    text-align: justify;
}

/* Ejemplos */

.ejemploAlign {
    border: 1px solid black;
    text-align: center;
}

.subrayado {
    text-decoration: underline;
    text-align: center;
}

.capitalize {
    text-align: center;
    text-transform: capitalize;
}

.verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sombraEfecto {
    text-shadow: 1px 2px 3px red;
}