body {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    background-color: aliceblue;
}

main {
    max-width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: rgb(55, 185, 55);
}

h2 {
    color: rgb(59, 124, 184);
}

a {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: rgb(224, 162, 90);
}

a:hover {
    font-size: 1.3em;
    text-decoration: underline;
}

/* EJEMPLO #1 */

.ejemplo-1 {
    margin-bottom: 50px;
}

div {
    border: 1px solid black;
    width: 150px;
    height: 100px;
    background-color: cyan;
    margin-top: 60px;
    margin-left: 90px;
}

/* Primero se debe definir "perspective" para dar una perspectiva en 3D. */ 
#elemento {
     transform: perspective(500px) rotateX(-30deg) rotateY(45deg);    
}