* {
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('../img/fondo-imagen.webp');
    max-width: 85%;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    background-color: rgba(197, 201, 204, 0.9);
    padding: 25px;
}

h2 {
    color: rgb(32, 99, 231);
    margin: 20px 0;
}

p {
    text-align: justify;
}

/* Animation */

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-down {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0);
    }
}

/* Header */

h1 {
    color: rgb(15, 122, 122);
    text-align: center;
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.42);
    animation: fade 1.2s ease-in, slide-down 1.5s ease-in-out;
}

/* Contenido Principal */

.cont-link p:nth-child(odd) {
    margin: 15px 0;
}

.cont-code {
    display: flex;
    justify-content: center;
}

code {
    margin: 10px 0;
    font-size: 1.3em;
    color: blueviolet;
    font-weight: 600;
}