* {
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 85%;
    margin: 0 auto;
    background-image: url('https://images.unsplash.com/photo-1507721999472-8ed4421c4af2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y3NzfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
}

main {
    padding: 25px;
    background-color: rgba(206, 218, 218, 0.815);
}

h2 {
    margin: 20px 0;
    color: rgb(38, 99, 231);
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.42);
}

.cont-img {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

p {
    text-align: justify;
}

/* --- Animaciones --- */
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-down {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0);
    }
}

/* ######### HEADER */

header {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

h1 {
    color: rgb(15, 110, 110);
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.42);
    animation: fade 1.2s ease-in, slide-down 1.5s ease-in-out;
}

/* ######### MAIN CONTENT */

/* --- Articulo CSS --- */
.cont-css {
    margin: 30px 0;
}

/* --- Articulo Historia CSS --- */

.lista-versiones li {
    padding: 7px;
}

/* --- Articulo Ventajas --- */

.lista-ventajas li {
    padding: 7px;
}

/* --- Articulo Objetivos --- */

.lista-objetivos li {
    padding: 7px;
}

