body {
    font-family: 'Open Sans', sans-serif;
    background-color: aliceblue;
}

main {
    max-width: 85%;
    margin: auto;
}

header {
    display: flex;
    justify-content: center;
}

/* TÍTULOS */

h1 {
    color: rgb(40, 109, 109);
}

h2 {
    color: rgb(39, 118, 236);
}

/*####################*/


.cont-resultado {
    padding: 8px 0;
}