body {
    margin: auto;
    font-family: sans-serif;
    box-sizing: border-box;
    list-style: none;
    background: rgb(232, 236, 240);
    max-width: 80%;
}

header {
    margin-bottom: 30px;
}

header h1 {
    text-align: center;
    color: rgb(15, 122, 122);
}

p {
    text-align: justify;
}

strong {
    color: rgb(115, 37, 170);
}

section div {
    text-align: center;
}

section div img {
    border-radius: 20px;
    width: 70%;
}

section p {
    margin-top: 30px;
}

.subtitulo {
    text-align: left;
    color: rgb(61, 104, 199);
}

div ul li {
    text-align: left;
}

a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: red;
}