body {
    font-family: sans-serif;
    background-color: rgb(197, 201, 204);
    max-width: 85%;
    margin: auto;
}

header {
    text-align: center;
}

h1 {
    color: rgb(15, 122, 122);
}

h2 {
    color: rgb(32, 99, 231);
}

/* Main */

.imagenes-ejemplo {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.ejemplo-codigo {
    max-width: 80%;
}


@media (max-width: 570px) {
    .imagenes-ejemplo {
        display: flex;
        flex-direction: column;
    }

    .imagenes-ejemplo img:first-child {
        margin-bottom: 20px;
        border: 1px solid blue;
    }
}