* {
    margin: 0;
}

body {
    font-family: sans-serif;
    background-image: url('../img/fondo-imagen.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 85%;
    margin: auto;
}

main {
    background-color: rgb(197, 201, 204, 0.9);
    padding: 25px;
}

h2 {
    margin: 20px 0;
    color: rgb(38, 99, 231);
}

p {
    text-align: justify;
}

/* -- Animaciones -- */

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-down {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0);
    }
}

/* ######### HEADER */

header {
    text-align: center;
    margin: 20px 0;
}

h1 {
    color: rgb(15, 110, 110);
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.42);
    animation: fade 1.2s ease-in, slide-down 1.5s ease-in-out;
}

/* ######### MAIN CONTENT */

/* -- Article Ul -- */

.cont-codigo {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.ejemplo-ul {
    background-color: black;
    color: rgb(54, 131, 233);
}

.imagenes-ejemplo {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.ejemplo-codigo {
    max-width: 80%;
}


@media (max-width: 570px) {
    .imagenes-ejemplo {
        display: flex;
        flex-direction: column;
    }

    .imagenes-ejemplo img:first-child {
        margin-bottom: 20px;
        border: 1px solid blue;
    }
}