body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    background-color: aliceblue;
}

main {
    max-width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: rgb(55, 185, 55);
}

h2 {
    color: rgb(59, 124, 184);
}

h3 {
    color: rgb(224, 54, 11);
}

h4 {
    color: rgb(134, 93, 231);
}

a {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: rgb(224, 162, 90);
}

a:hover {
    font-size: 1.3em;
    text-decoration: underline;
}

.fondo-codigo {
    background-color: bisque;
}

li {
    padding: 5px 0;
}

figure {
    text-align: center;
}

p {
    text-align: justify;
}

/* ESTILOS ESPECÃFICOS */

.bloque-codigo > code {
    display: block;
    padding: 5px 0;
}

.espacio-top {
    margin-top: 20px;
}