* {
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 85%;
    margin: 0 auto;
    background-image: url('https://images.unsplash.com/photo-1507721999472-8ed4421c4af2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y3NzfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
}

main {
    padding: 25px;
    background-color: rgba(206, 218, 218, 0.815);
}

h2 {
    margin: 20px 0;
    color: rgb(38, 99, 231);
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.42);
}

h3 {
    margin: 20px 0;
    font-size: 1.3em;
    color: rgb(103, 45, 240);
}

h4 {
    margin: 20px 0;
    color: #a826f3;
    font-size: 1.1em;
}

p {
    text-align: justify;
}

hr {
    margin: 20px;
}

/* --- Animaciones --- */
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-down {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0);
    }
}

/* ######### HEADER */

h1 {
    margin: 30px 0;
    text-align: center;
    color: rgb(15, 110, 110);
    text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.42);
    animation: fade 1.2s ease-in, slide-down 1.5s ease-in-out;
}

/* ######### MAIN CONTENT */

/* -- Ejemplo contenedor código 'General' */
.cont-codigo {
    background-color: rgb(56, 55, 55);
    color: #ffffff;
    margin: 20px auto;
    padding: 7px;
    width: 70%;
    border-radius: 5px;
}

.margin-20 {
    margin-left: 20px;
}

.margin-40 {
    margin-left: 40px;
}

.margin-60 {
    margin-left: 60px;
}

.txt-white {
    color: #ffffff;
}

.tag-color {
    color: rgb(37, 143, 241);
}

.property-color {
    color: rgb(113, 209, 247);
}

.field-color {
    color: #ffd311;
}

.value-color {
    color: #f39658;
}

.comment-color {
    color: rgb(41, 148, 31);
}
/* -- */

/* --- Elemento para ejemplo de color (Estilo General) --- */
.caja {
    width: 250px;
    height: 150px;
    margin: 30px auto;
}

/* --- Articulo Introducción --- */

.lista-colores {
    margin: 20px auto;
}

.lista-colores ul li {
    padding: 10px;
}

.color-rgba {
    background-color: rgba(70, 70, 194, 0.404);
}

/* --- Articulo Color para Fuentes --- */
.ejemplo-fuente {
    display: flex;
    width: 100%;
    margin: 35px 0;
    padding: 15px;
    border: 1px solid black;
}

.parrafo-ejemplo-color {
    color: #4c26f3;
}

.contenedor-color {
    color: #4c26f3;
}

/* --- Articulo color para elementos --- */
.ejemplo-color-rgb {
    background-color: rgb(70, 70, 194);
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
}

.color-color {
    background-color: aqua;
}

/* --- Articulo Gradientes --- */
.gradiente-grado {
    background: linear-gradient(70deg, black, white);
}

.una-direccion {
    background: linear-gradient(to right, #d7d2cc, #304352);
}

.varios-colores {
    background: linear-gradient(to top, #0f0c29, #302b63, #24243e);
}

.radial {
    background: radial-gradient(#f69d3c, #3f87a6);
}

.repeticion-gradiente {
    background: repeating-linear-gradient(#f69d3c, #3f87a6 50px);
}