body {
    font-family: sans-serif;
    background: rgb(208, 211, 214);
}

main {
    margin: auto;
    width: 75%;
}

h1 {
    text-align: center;
    color: rgb(15, 122, 122);
}

h2 {
    margin-top: 30px;
    color: rgb(47, 113, 212);
}

div {
    text-align: center;
}

b {
    color: rgb(115, 37, 170);
}

li {
    margin-top: 10px;
}