* {
    box-sizing: border-box;
}

body {
    max-width: 85%;
    margin: auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* -- Animaciones -- */

/* ############ ESTILOS HEADER */

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    padding: 15px;
    text-align: center;
    color: #b99edd;
    border-bottom: 1px solid #b99edd;
}

.cont-volver-inicio {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.cont-volver-inicio a:first-child {
    display: flex;
}

a {
    margin-left: 10px;
    text-decoration: none;
    font-size: 1.5em;
}

.estructura-enlaces .color-claro:hover {
    color: #b99edd;
}

a:visited {
    color: blueviolet;
}

/* Efecto de subrayado dinámico */
nav a {
    position: relative;
    padding: 10px 0;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: blueviolet;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

nav a:hover::after {
    transform: scaleX(1);
}

    /* Efecto Flecha */
.cont-volver-inicio:hover img.flecha {
    animation: move 1s linear infinite;
}

@keyframes move {
    0% {
      transform: translate(0, 0) scale(1);
    }
    50% {
      transform: translate(-1px, 0) scale(1.2);
    }
    100% {
      transform: translate(0, 0) scale(1);
    }
}

    /* Menú solo se visualiza en responsive ( < 992px) */

.menu {
    width: 10%;
    display: none;
}

#cont-imagen {
    margin: 20px auto;
    text-align: center;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    border: 1px solid black;
}

#shinobu {
    width: 350px;
    height: 100%;
}

p {
    color: #fff;
    font-family: sans-serif;
}

/* ######### MEDIA QUERIES */

/* -- 992px -- */

@media (max-width: 992px) {

    h1 {
        width: 100%;
    }

        /* Mostramos el menu que está oculto */
    .menu {
        display: flex;
    }

    .cont-menu {
        position: absolute;
        top: 200px;
        left: 120px;
        flex-direction: column;
        background-color: #ddc9f7;
        padding: 10px;
        border-radius: 10px;
        border: 2px solid blueviolet;
        display: none; /* Ocultamos menú, es mostrado luego a través de JS */
    }

    .color-claro {
        text-align: start;
        width: 100%;
    }

    .estructura-enlaces .color-claro:hover {
        color: #6b37d1;
    }

        /* Mostramos el menu que está oculto */
    .open-menu {
        display: flex;
    }

}

