.cuerpo {
    margin-left: 10em;
    margin-right: 10em;
}

h1 {
    text-align: center;
    color: rgb(55, 185, 55);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.texto {
    font-size: 2em;
    font-family: Helvetica;
    text-align: justify;
}

.imagen {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

a {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: rgb(224, 162, 90);
}

a:hover {
    font-size: 1.3em;
    text-decoration: underline;
}

@media (max-width: 1000px) {
    .cuerpo {
        margin-left: 7em;
        margin-right: 7em;
    }

    .texto {
        font-size: 1.6em;
        font-family: Helvetica;
    }

    .imagen {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
}

@media (max-width: 600px) {
    .cuerpo {
        margin-left: 3em;
        margin-right: 3em;
    }

    h1 {
        text-align: center;
        color: rgb(55, 185, 55);
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .texto {
        font-size: 1.3em;
        font-family: Helvetica;
        text-align: justify;
    }

    .imagen {
        margin-left: auto;
        margin-right: auto;
        width: 30%
    }
}